.semTarefasContainer{
  width: 100%;
  border-top: 0.1px solid var(--gray-300);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}
.semTarefasContainer img{
  width: 4.5rem;
  height: 4.5rem;
  align-self: center;
  padding-bottom: 1rem;
}
.semTarefasContainer > strong{
  padding-bottom: 0.2rem;
}